<%- include('header'); -%>

<h2>life is very very hard</h2>

<p>my life is like boring that peop;e is always scolding and let put me down but i was able to get back and carry forward my life without hesitation</p>

<%- include('footer'); -%>